.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top:5%;
}

.items{
    border: 1px solid rgb(92, 79, 79);
    box-shadow: 5px 10px gainsboro;
    height: 180px;
    width: 85%;
    margin:10px 30px;
    list-style:none;
    color : black;
    font-family: Cuprum;
    font-size: 15px;
    text-transform:capitalize;
    cursor:pointer;
    display:flex;
    border-radius: 10px;
    transition: all .5s; 
    background-color: rgb(200, 203, 207);
} 

.items .avatar {
    width: 120px;
    height: 120px;
    /* border:1px solid black; */
    /* background:#E80A89; */
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    text-align: center;
    margin: 2%;
    transition: all .5s;
    background-color: rgb(90, 72, 80); 
  }

.items .description{
    width: 78%;
    padding: 1% 5%;
    margin: 15px 0px;
    box-shadow: 0px -5px #007c9d;
    border: 1px solid rgb(79, 129, 223);
    border-radius: 5px;
    font-family: 'PT Mono', monospace;
    display: flex;
    background-color: rgb(248, 218, 219);
}

.items .description1{
    width: 50%;
}

.items .description1 li{
    font-size: small;
    border-bottom: 1px dotted lightgrey;
    margin-top: 5px;
}

.items .description2{
    width: 25%;
}